@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

.erro {
  font-family: "Nunito";
  font-size: 1rem;
}

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0px;
  background: #b5c99a;
  background: linear-gradient(
    0deg,
    rgba(181, 201, 154, 1) 35%,
    rgba(232, 241, 212, 1) 100%
  );
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

button {
  color: #e8f1d4;
  background-color: #a67c52;
  font-weight: bold;
  text-align: center;
  font-family: "Merriweather";
  transition: transform 0.3s, background-color, 0.5s border-color 0.5s;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  border: 0;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

button:hover {
  border: solid 2px #a67c52 !important;
  background-color: #d4a373;
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 2px 5px 1px rgba(166, 124, 82, 0.75);
}

a {
  transition: transform 0.5s;
}

a:hover {
  transform: scale(1.075);
  cursor: pointer;
}

.todo {
  margin-top: 0px;
  margin-left: 6vw;
  margin-right: 6vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
}

/* NAVBAR */

.navbar {
  justify-self: center;
  height: 7.5vh;
  width: 87.2vw;
  display: grid;
  gap: 0px;
  margin-top: 0px;
  grid-column: 1/-1;
  background: linear-gradient(180deg,rgba(31, 47, 13, 1) 0%, rgba(31, 47, 13, 0.7) 100%);
  place-content: center;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 9999;
}

.navbar.relative{
  position: relative;
}

.navbar-center {
  font-family: "Lora";
  color: #e8f1d4;
  font-weight: bolder;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  justify-self: start;
  gap: 0.5rem;
}

.icone {
  height: 2.5rem;
  width: auto;
  opacity: 100%;
}

.perfil-mais{
  justify-self: end;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.menu{
  grid-column: 1;
}

.container-perfil{
  grid-column: 2;
  display: inline-block;
  transition: all 0.3s ease;
  font-family: 'Nunito';
}

.perfil-dropdown{
    justify-items: start;
    position: absolute; /* Positions relative to the container */
    top: 100%; /* Places it right below the icon */
    right: 0; /* Aligns to the right edge */
    
    background-color: #e8f1d4;
    border: 1px solid #b5c99a;
    border-radius: 8px;
    padding: 15px;
    min-width: 150px;
    
    /* Shadow for a nice effect */
    box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
    
    /* Initially hidden */
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    opacity: 0;
    margin-top: 0.75rem;
    color: #1f2f0d;
    text-align: start;
    z-index: 9999;
}

.perfil-dropdown .botao-logout{
  justify-self: center;
  border-radius: 1rem;
  width: 10vw;
  height: 3vh;
  transition: 0.3s ease all;
  display: grid;
  grid-template-columns: 4fr 1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
}

.perfil-dropdown:hover{
  border: solid 2px #1f2f0d;
  box-shadow: 0px 2px 18px 4px rgba(92, 109, 73, 0.75);
}

.botao-logout:hover{
  transform: scale(1.025);
  text-align: center;
  justify-items: center;
  align-items: center;
}

.container-perfil:hover .perfil-dropdown{
  display: grid;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

/*SEÇÃO HERO*/

.hero {
  height: 100vh;
  background-image: url(Imagens/LandingPage/heroimgtruemelhor.png);
  background-size: cover;
  grid-column: 1/-1;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 5vw 1fr 1fr 1fr 1fr;

}

.imgtitulo {
  font-family: "Merriweather";
  color: #e8f1d4;
  font-weight: bolder;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
  gap: 20px;
}

.hero .textoPrincipal {
  margin-top: -3vh;
  margin-bottom: -1vh;
  grid-column: 2 / 4;
  font-family: "Nunito";
  color: #e8f1d4;
  font-size: 3rem;
}

.neilgaiman {
  font-family: "Nunito";
  font-size: 1.55rem;
  color: #b5c99a;
  font-weight: 300;
  grid-column: 2/4;
}

.hero button {
  border-radius: 2.5rem;
  grid-column: 2/4;
  margin-bottom: 5vw;
  border: solid 0px;
  height: 7vh;
  width: 30vw;
  background-color: #a67c52;
  font-size: 2.2rem;
}

button.no-pointer{
  cursor: default;
}

/*Citações*/

.citacao {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
}

.citacao .Titulo {
  grid-column: 1/-1;
  font-size: 5rem;
  color: #1f2f0d;
  font-weight: bolder;
  text-align: center;
}

.citacao .esquerda {
  grid-column: 1;
}

.citacao .direita {
  grid-column: 2;
}

.citacao .card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #e8f1d4;
  border-radius: 1rem;
  padding: 2rem;
  padding-bottom: 0;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.citacao .card .nome {
  margin: 0;
  grid-column: 2/ -1;
  font-family: "Merriweather";
  font-size: 3rem;
  font-weight: 1000;
  text-align: center;
  justify-self: center;
  color: #1f2f0d;
}

.citacao .card .descricao {
  margin: 0;
  grid-column: 2 /-1;
  font-family: "Merriweather";
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  color: #1f2f0d;
}

.citacao .card .textoPrincipal {
  grid-column: 2/ -1;
  font-family: "Nunito";
  text-align: center;
  font-size: 2.3rem;
  color: #1f2f0d;
  padding: 2vh;
  line-height: 3.5rem;
  margin: 0;
  height: 277px;
}

.citacao .card .retrato {
  grid-row: 1 / span 4;
  grid-column: 1;
  border-radius: 1rem;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 90%;
}

.retrato img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* Remove possível espaço extra abaixo da imagem */
}

.citacao .card img.Aspas {
  width: 4rem;
  height: auto;

  grid-column: 4;
  justify-self: end;
  padding-bottom: 5vh;
}

.citacao .card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 9px 2px rgba(23, 80, 0, 0.5);
}

.MalalaN {
  place-self: center;
}
.MalalaD {
  height: 10vh;
}
.MalalaT {
  margin: 0;
}

.Obama {
  object-position: 75% center;
}

.Malala {
  object-position: 79% center;
}

.Bill {
  object-position: 56% center;
}

.Oprah {
  object-position: 46% center;
}

/* Dicas */

.card-dicas {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 8vh;
  background-color: #e8f1d4;
  border-radius: 4rem;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  margin: 0;
  margin-top: 10rem;
}

.card-dicas .dica {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  column-gap: 15px;
  row-gap: 10px;
  align-items: start;
  transition: all 0.3s ease;
}

.card-dicas .dica:hover {
  transform: scale(1.075);
}

.card-dicas .Titulo {
  grid-column: 1/-1;
  font-size: 5rem;
  color: #1f2f0d;
  font-weight: bolder;
  text-align: center;
  margin: 0;
}

.card-dicas .dica .numeracao {
  font-family: "Merriweather";
  grid-column: 1;
  grid-row: 1 / span 2;
  color: #1f2f0d;
  font-weight: bolder;
  text-align: start;
  font-size: 3rem;
  align-self: start;
  padding-right: 10px;
}

.card-dicas .dica .subtitulo {
  grid-column: 2;
  grid-row: 1;
  font-family: "Merriweather";
  text-align: start;
  color: #1f2f0d;
  font-size: 2rem;
  font-weight: 700;
  align-self: center;
}

.card-dicas .dica .textoPrincipal {
  grid-column: 2;
  grid-row: 2;
  font-family: "Nunito";
  text-align: start;
  width: 100%;
  font-size: 1.5rem;
  color: #1f2f0d;
  margin: 0;
}
.card-dicas .dica img {
  grid-column: 3;
  grid-row: 1;
  height: 3rem;
  width: auto;
  align-self: center;
}

/* EXPLORAR */
.explorar {
  grid-column: 1 / -1;
  display: grid;
  grid: 1fr;
}

.explorar .Titulo {
  font-family: "Merriweather";
  font-size: 6.5rem;
  text-align: center;
  color: #1f2f0d;
  font-weight: 1000;
}

.explorar button {
  justify-self: center;
  height: 30vh;
  width: fit-content;
  font-size: 5rem;
  border-radius: 7rem;
  padding: 3rem;
  transition: transform 0.5s;
}

/* FOOTER */

.footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  background: #b5c99a;
  background: linear-gradient(
    180deg,
    rgba(181, 201, 154, 1) 0%,
    rgba(31, 47, 13, 1) 5%
  );
  padding: 2vw 3vw 2vw 3vw;
  align-items: center;
  font-family: "Merriweather";
  color: #e8f1d4;
  grid-template-rows: 1fr auto 1fr;
  row-gap: 2vh;
  margin-top: 10rem;
}

.footer a {
  text-decoration: none;
  color: #e8f1d4;
}

.footer .card {
  align-self: center;
  text-align: center;
  transition: all 0.3s ease;
  overflow: hidden;
}

.baixo {
  grid-column: 1 / -1;
  text-align: center;
}

.vertical {
  grid-column: 2;
}

.footer .cima {
  justify-items: center;
  text-align: start;
}

.footer .horizontal {
  grid-column: 1 / -1;
  height: 1vh;
  background-image: url(Imagens/footer/LinhaHorizontal-footer.svg);
  background-repeat: repeat-x;
  background-position: center;
}

/* MENU */

.funcionalidades {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  column-gap: 2rem;
  margin-top: 0vh;
  height: 60vh;
  grid-row-gap: 2rem;
  margin-bottom: 50vh;
  grid-column-gap: 5rem;
  justify-content: center;
  margin: 5vh 5rem 30vh 5rem;
}

.funcionalidades .card {
  background-color: #e8f1d4;
  border-radius: 2rem;
  padding: 1rem;
  justify-items: center;
  min-height: 37vh;
  max-height: 50vh;
  width: 20vw;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  border: solid 2px #b5c99a;
}

.funcionalidades .card .Titulo {
  margin-top: 0.5rem;
  font-family: "Merriweather";
  font-weight: 1000;
  color: #1f2f0d;
  font-size: 2rem;
}

.funcionalidades a {
  border-radius: 2rem;
  transition: transform 0.5s, background-color 0.5s;
  text-decoration: none;
  color: #1f2f0d;
  display: block;
}

.funcionalidades .card .descricao {
  font-family: "Nunito";
  text-align: center;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.texto-expandido {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease;
  font-family: "Nunito";
  text-align: center;
  font-size: 1rem;
  margin-top: 0;
  pointer-events: none;
}

.funcionalidades .card:hover .texto-expandido {
  max-height: 12rem;
  opacity: 1;
  margin-top: 1rem;
}

.funcionalidades .card:hover {
  border: solid 2px #1f2f0d;
  box-shadow: 0px 2px 18px 4px rgba(92, 109, 73, 0.75);
}

.funcionalidades img.contos {
  margin-bottom: 0.5rem;
}

.funcionalidades img{
  margin: 0 ;
}

img.dashboard-icone{
  height: 12rem;
}

.linha2{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  margin: 0 15rem;
}

.funcionalidades img{
  height: 13vh;
}

/* LOGIN e CADASTRO */
.Login {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-self: center;
  background-color: #e8f1d4;
  border-radius: 2rem;
  margin-top: 5vh;
  width: fit-content;
  text-align: center;
  padding: 2.5rem;
  font-family: "Merriweather";
  font-size: 3rem;
  width: 30vw;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  color: #1f2f0d;
  transition: all 0.3s ease;
}

.input {
  border-radius: 0.5rem;
  border: solid #b5c99a 2px;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  font-family: "Nunito";
  font-size: 1rem;
  text-align: center;
  background-color: #d8e9d0;
  padding: 0.5rem;
  color: #1f2f0d;
  transition: all 0.3s ease;
}

.input::placeholder{
  text-align: center;
}

.Login .textoPrincipal {
  font-family: "Nunito";
  font-size: 2rem;
}

.Login a {
  text-decoration: none;
  display: inline-block;
}

.Login a:hover {
  transform: scale(1.1);
}

.Login button {
  border-radius: 2rem;
  font-family: "Nunito";
  font-size: 2rem;
  padding: 0.5rem 5rem;
  margin: 1rem;
  font-weight: bolder;
  width: fit-content;
  justify-self: center;
  height: 7vh;
}

.Login .Titulo {
  margin: 2rem;
  font-weight: bolder;
}

.input:hover {
  transform: scale(1.05);
  border-color: #1f2f0d;
  box-shadow: 0px 2px 9px 2px rgba(92, 109, 73, 0.75);
}

select {
  border-radius: 0.5rem;
  border: solid #b5c99a 2px;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  font-family: "Nunito";
  font-size: 1rem;
  text-align: center;
  background-color: #d8e9d0;
  padding: 0.5rem;
  color: #1f2f0d;
  transition: all 0.3s ease;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%231F2F0D" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

select:hover {
  transform: scale(1.05);
  border-color: #1f2f0d;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  outline: none;
}

.Login select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg fill="%231F2F0D" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

.Login select{
  justify-self: center;
  width: 24.5vw;
  margin: 1rem;
}

.Login button:hover {
  margin: 15.5px;
}

/* QUIZ */

.pontuacaoEJogo {
  grid-column: 1 / -1;
  display: grid;
  align-items: center;
  justify-self: center;
  font-family: "Nunito";
  font-weight: bold;
  margin-top: 10vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.5rem;
}

.botaoiniciar {
  border-radius: 3rem;
  font-size: 4rem;
  padding: 3rem;
  font-weight: bolder;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  margin-bottom: 2.3vh;
}

.pontuacaoDuranteJogo {
  font-family: "Nunito";
}

/* CARROSSEL */
.carrossel {
  margin-top: 5vh;
  display: grid;
  grid-column: 1 / -1;
  align-items: center;
  justify-self: center;
  grid-template-rows: 1fr auto;
  grid-row-gap: 2rem;
  width: 50vw;
  justify-items: center;
  transition: opacity 0.5 ease;
}

.carrossel button {
  border-radius: 5rem;
  font-size: 4rem;
  height: 20vh;
  width: 20vw;
  text-align: center;
  opacity: 1;
}

.cardCarrossel {
  background-color: #e8f1d4;
  padding: 20rem;
  border-radius: 3rem;
  width: 40vw;
  padding: 0;
  text-align: center;
  color: #1f2f0d;
  height: fit-content;
  opacity: 0;
  box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.3);
}

.carrossel .cardCarrossel .Titulo {
  font-family: "Merriweather";
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 0;
}

.carrossel .cardCarrossel img {
  border-radius: 1rem;
}

img#img_livro{
  height: 4vh;
}

.carrossel .cardCarrossel .subtitulo {
  font-family: "Merriweather";
  font-size: 1.5rem;
  font-weight: bold;
}

.carrossel .cardCarrossel .descricao {
  font-family: "Nunito";
  font-size: 1.2rem;
  font-weight: 250;
  margin-left: 2rem;
  margin-right: 2rem;
}

.carrossel .btn_lista{
  justify-self: center;
  font-size: 1.5rem;
  height: 10vh;
  padding: 1.5rem;
  width: max-content;
}

.carrossel .respostaCarrossel{
  font-size: 1rem;
  font-family: 'Nunito';
  color: #1f2f0d;
}

/* contos rápidos */

.contos-container {
  grid-column: 1 / -1;
  display: grid;
  background-color: #e8f1d4;
  border-radius: 2rem;
  grid-template-columns: repeat(1, 1fr);
  padding: 2rem;
  width: 50vw;
  justify-self: center;
  box-shadow: 0px 4px 18px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  height: 75vh;
  text-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
}

.scrollavel {
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.scrollavel::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

.scrollavel::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do "trilho" da barra */
  border-radius: 10px;
  box-shadow: 0px 1px 9px 2px rgba(0, 0, 0, 0.25);
}

.scrollavel::-webkit-scrollbar-thumb {
  background: #b5c99a; /* Cor do "polegar" da barra */
  border-radius: 10px;
}

.contos-container .scrollavel::-webkit-scrollbar-thumb:hover {
  background: #99b37c;
  border-radius: 2rem;
}

.contos-container a {
  text-decoration: none;
  color: #1f2f0d;
}

.contos-container a:hover {
  transform: scale(1.05);
  
}

.contos-container .Titulo {
  font-family: "Merriweather";
  font-size: 4rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
}

.contos-container .genero {
  font-family: "Merriweather";
  font-size: 2.5rem;
  text-align: start;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.contos-container .texto-expandido {
  font-family: "Nunito";
  font-size: 1.3rem;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  margin-top: 0;
  pointer-events: none;
}

.contos-container .descricao {
  text-align: center;
  font-size: 2rem;
}

.contos-container .card {
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding: 2rem;
  height: auto;
  margin: 1rem;
  text-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
  border: solid 2px #b5c99a;
  transition: all 0.3s ease;
}

.contos-container a {
  border-radius: 2rem;
  transition: all 0.5 ease;
  text-decoration: none;
  color: #1f2f0d;
}

.contos-container .card:hover .texto-expandido {
  max-height: 20rem;
  opacity: 1;
  margin-top: 1rem;
  pointer-events: auto; /* Permite interações com o texto */
}

.contos-container .card:hover {
  border: 2px solid #1f2f0d;
}

.titulo-pagina{
  grid-column: 1 / -1;
  justify-self: center;
  font-family: 'Merriweather';
  color: #1f2f0d;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

/* FORMULÁRIO */

.formulario {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  background-color: #e8f1d4;
  border-radius: 3rem;
  box-shadow: 0px 4px 18px 4px rgba(0, 0, 0, 0.25);
  margin-top: 5vh;
  padding: 3rem;
  width: 50vw;
  height: 80vh;
  justify-self: center;
  font-family: "Merriweather";
  font-size: 2.5rem;
  font-weight: bold;
  color: #1f2f0d;
  overflow: hidden;
}

.formulario .Titulo {
  text-align: center;
  font-size: 4rem;
  margin: 0;
}

.formulario p {
  margin-bottom: 1vh;
}

.formulario .input {
  width: 100%;
  margin: 0;
  text-align: start;
}

.formulario .textoPrincipal {
  height: 15vh;
  resize: none;
}

.input::-webkit-scrollbar {
  width: 10px;
}

.input::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.input::-webkit-scrollbar-thumb {
  background: #b5c99a;
  border-radius: 10px;
}

.input::-webkit-scrollbar-thumb:hover {
  background: #5c6d49;
  border-radius: 2rem;
  cursor: default;
}

.formulario .input:hover {
  transform: scale(1.025);
  border-color: #1f2f0d;
  box-shadow: 0px 4px 9px 2px (rgba(1, 116, 35, 0.5));
}

.formulario select {
  width: fit-content;
  align-self: center;
  justify-self: center;
  padding: 1rem;
  padding-right: 2rem;
  font-weight: bold;
}

.formulario button {
  justify-self: center;
  padding: 1rem;
  border-radius: 3rem;
  font-family: "Nunito";
  font-size: 2rem;
  margin-top: 0.5rem;
  height: 5rem;
  text-align: center;
  align-items: center;
  align-self: center;
}

select{
  margin: 0;
}

.formulario .subtitulo{
  margin: 0;
}

.formulario .descricao{
  margin: 0;
}

/* QUESTIONARIO */
.questionnaire {
  grid-column: 3 / 11;
  justify-self: center;
  height: 80vh;
  align-content: center;
  margin-bottom: -10rem;
  transform: 0.5s;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Questionario {
  grid-column: 2 / 11;
  display: grid;
  justify-self: center;
  align-self: start;
  grid-template-rows: repeat(4, auto);
  background-color: #e8f1d4;
  box-shadow: 0px 4px 18px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3rem;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  height: fit-content;
  width: 70vw;
  color: #1f2f0d;
}

.Questionario .numero {
  grid-row: 1;
  grid-column: 1;
  text-align: start;
  padding-left: 2vw;
  font-weight: bolder;
  color: #5c6d49;
}

.Questionario .Titulo{
  grid-row: 1;
  grid-column: 1 / -1;
  text-align: center;
  justify-self: center;
  font-family: "Nunito";
  font-weight: bolder;
  color: #5c6d49;
}

.Questionario .opcoes {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 1rem;
  font-family: "Nunito";
  gap: 1rem;
}

.Questionario .opcoes .opcao {
  border-radius: 0.75rem;
  margin: 0.2rem;
  width: 30vw;
  text-align: center;
  justify-content: start;
}

.Questionario .botoes {
  margin: 1rem;
  grid-row: 4;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  height: 7vh;
}

.Questionario button {
  padding: 1rem;
  border-radius: 2rem;
  font-size: 2rem;
  height: 8vh;
  text-align: center;
  margin-top: 2rem;
}

.opcao {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background-color: #b5c99a;
  border-radius: 16px;
  padding: 12px 20px;
  width: fit-content;
  transition: 0.3s ease;
  justify-self: center;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: auto 1fr;
  height: 20vh;
}

/* Checkbox escondido, mas acessível */
.opcao input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #5c6d49;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  font-size: 14px;
  transition: all 0.3s ease;
}

/* Quando o checkbox está marcado */
.opcao input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #1f2f0d;
  color: #fff;
}

.label-text {
  font-weight: 600;
  color: #1f2f0d;
}

.opcao:hover {
  transform: scale(1.025);
  box-shadow: 0px 2px 9px 4px rgba(1, 116, 35, 0.5);
}

button.button.iniciar {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  border-radius: 2rem;
  justify-self: center;
  align-self: center;
  padding: 2rem;
  font-size: 4rem;
  font-weight: 1000;
}

.questionnaire .respostaQuestionario {
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Merriweather";
}

.questionnaire .livroImagens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.questionnaire .livroImagens .descricao {
  font-size: 1rem;
  font-family: "Nunito";
  grid-row: 4;
}

.questionnaire img {
  height: 20vh;
  width: auto;
  border-radius: 0.3rem;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
}

.livroImagens .genero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.5rem;
}

.livroImagens .titulo {
  grid-column: 1 / -1;
  font-family: "Merriweather";
  font-weight: 750;
  font-size: 2.5rem;
}

.livroImagens .subtitulo {
  font-family: "Merriweather";
  font-size: 1.5rem;
  font-weight: 600;
}

.livroImagens .card{
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  justify-items: center;
  align-items: start;
}

.livroImagens .card button{
  grid-row: -1;
  font-size: 1.5rem;
}

p#p_titulo1{
  margin: 1rem;
  font-size: 2rem;
}

p#p_titulo2{
  margin: 1rem;
  font-size: 2rem;
}

p#p_respostaQuestionario{
  margin: 0rem 1rem 1rem 1rem;
  font-size: 2.5rem;
}

p.respostaAPIQuestionario{
  margin: 0;
  grid-row: 5;
}

.Questionario p.erro{
  margin: 0;
  grid-row: -1;
}

.div_btn-voltar{
  margin-top: 2rem;
  grid-column: -1;
}

button.voltar{
  grid-row: 2;
  height: 8vh;
  width: 8vh;
  border-radius: 100%;
}

button.voltar img{
  height: 70%;
}

/* DASHBOARD */

.dashboard{
  grid-column: 1 / -1;
  justify-self: center;
  align-self: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  margin-top: 1vh;
  gap: 4rem;
  color: #1f2f0d;
  grid-row-gap: 1rem;
  transition: all ease 0.3s;
}

.dashboard .kpis{
  grid-row: 1;
  grid-column: 2;
  display: grid;
  gap: 1rem;
  transition: all ease 0.3s;
  height: 20vh;
}

.dashboard .kpi{
  background-color: #e8f1d4;
  padding: 0rem 1.5rem;
  font-family: 'Nunito';
  font-weight: bold;
  border-radius: 2.5rem;
  width: 40vw;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  transition: all 0.3s ease;
  border-color: #e8f1d4;
  justify-self: center;
}

.dashboard .kpi1{
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, auto);
  text-align: center;
  align-items: center;
  justify-self: center;
  transition: all ease 0.3s;
  height: 8vh;
}

.dashboard .kpi1 .titulo{
  padding: 0;
  margin: 0;
  font-weight: lighter;
  text-align: start;
  
}

.dashboard .kpi1 .numero{
  font-size: 3rem;
  padding: 0;
  margin: 0;
  font-weight: 800;
  justify-items: center;
}

 .kpi1:hover{
  transform: scale(1.025);
  border: solid 1px #1f2f0d;
}

.dashboard .kpi2{
  grid-row: 2;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  transition: all ease 0.3s;
  height: 8vh;
}

.dashboard .kpi2 .titulo{
  font-weight: lighter;
  margin: 0;
  padding-right: 2rem;
  line-height: 2rem;
}

.dashboard .kpi2 .numero{
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

 .kpi2:hover{
  transform: scale(1.025);
  border: solid 1px #1f2f0d;
}

.dashboard .chart{
  grid-column: 1;
  grid-row: 1;
  background-color: #e8f1d4;
  justify-items: center;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Merriweather';
  font-size: 1.5rem;
  justify-self: center;
  height: 40vh;
  width: 40vw;
  transition: all 0.3s ease;
  border-color: #e8f1d4;
}

.dashboard .chart:hover{
  transform: scale(1.025);
  border: solid 1px #1f2f0d;
}

.dashboard .chart .titulo{
  margin: 0;
}

canvas#grafico_generos.grafico{
  width: 100%;
}

.dashboard .envelopamento{
  grid-column: 2;
  background-color: #e8f1d4;
  padding: 2rem;
  height: 70vh;
  width: 40vw;
  border-radius: 2rem;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  text-align: center;
  font-family: 'Nunito';
  transition: all 0.3s ease;
}

.dashboard .envelopamento .titulo{
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}

.dashboard .envelopamento .lista{
  height: 85%;
  overflow-y: scroll;
  padding: 1rem 0rem;
  border-radius: 2rem;
}

.dashboard .livroLista{
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin: 1rem 0;
  box-shadow: inset 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-right: 1rem;
  gap: 1rem;
  height: 15vh;
  font-size: 1.25rem;
  font-weight: bold;
  border-color: #e8f1d4;
  transition: all 0.3s ease;
}

.lista::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  box-shadow: 0px 1px 9px 2px rgba(0, 0, 0, 0.25);
}

.lista::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do "trilho" da barra */
  border-radius: 10px;
}

.lista::-webkit-scrollbar-thumb {
  background: #b5c99a; /* Cor do "polegar" da barra */
  border-radius: 10px;
  transition: background 2s ease;
}

.lista::-webkit-scrollbar-thumb:hover {
  background: #99b37c; /* Cor do "polegar" ao passar o mouse */
  border-radius: 2rem;
}

.dashboard .envelopamento .p_nomeLivro{
  margin: 0;
  justify-self: start;
}

.livroLista .texto-expandido.titulo{
  font-size: 1.75rem;
}

.dashboard .envelopamento img{
  height: 10vh;
  grid-column: 1;
  box-shadow: inset 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  
}

.envelopamento .livroLista:hover .texto-expandido {
  max-height: 50px;
  opacity: 1;
  margin-top: 1rem;
  
}

.livroLista .texto-expandido {
  font-family: "Nunito";
  font-size: 0.75rem;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 0;
  pointer-events: none;
  border-color: #e8f1d4;
  transition: all 0.3s ease;
}

.lista .livroLista:hover .texto-expandido {
  max-height: 28vh;
  opacity: 1;
  margin-top: 1rem;
  pointer-events: auto; /* Permite interações com o texto */
}

.lista .livroLista:hover {
  border: 2px solid #1f2f0d;
  height: 30vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr auto;
}

.div_btn_remover{
  align-self: center;
  grid-column: 3;
  height: 5vh;
}

.lista .livroLista:hover .div_btn_remover {
  visibility: visible;
  opacity: 1;
}

button.btn_remover{
  padding: 0;
  background-color: red;
  grid-column: 3;
  border-radius: 3rem;
  opacity: 0;
  height: 5vh;
  transition: all 0.3s ease; 
  transform: translateY(-30px);
}

button.btn_remover:hover{
  transform: scale(1.1);
  height: 5vh;
  border: 1px solid rgb(170, 3, 3) !important; 
}

.lista .livroLista:hover button.btn_remover{
  opacity: 1;
  transform: translateY(0px)
}

button.btn_remover .deletar{
  box-shadow: none;
  height: 5vh;
  align-self: center;
}

.div_histograma{
  grid-column: 1 ;
  grid-row: 2;
  background-color: #e8f1d4;
  justify-items: center;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Merriweather';
  font-size: 3rem;
  width: 40vw;
  height: 47.5vh;
  justify-self: center;
  transition: all 0.3s ease;
  border-color: #e8f1d4;
}

.div_histograma:hover{
  transform: scale(1.025);
  border: solid 1px #1f2f0d;
}

.lado-esquerdo{
  grid-column: 2;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-items: center;
}